
/*Formatting for our page styles*/

html {
	font-size: 20px;
	font-family: 'Lato', 'Helvetica', sans-serif;
}

body {
	background-color: #ffffff;
}

h1 {
	font-weight: 1000px;
	padding-top: 25px;
}

h2 {
	font-weight: 800px;
	padding-top: 25px;
	padding-bottom: 25px;
}

h3 {
	font-weight: 600px;
	padding-top: 25px;
	padding-bottom: 25px;
	
}

h4 {
	font-weight: 100px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #5A5A5A;
}


p {
	font-weight: normal;
	line-height: 1.4;
}

img {
	max-width: 600px;
	height: auto;
	padding: 20px;
}

.main-content {
	text-align: left;
	min-width: 200px;
	max-width: 600px;
	margin: 0 auto;
}

.chart {
	padding: 25px 10px 50px 10px;
	max-width: 600px;
	max-height: auto;
}

.image {
	width: 600px;
	min-width: 200px;
	min-height: auto;
	max-height: auto;
}

.byline {
	color: #5A5A5A;
	padding: 10px;
	font-style: italic;
	font-weight: lighter;
}

.annotation {
	font-size: 10px;
	color: #5A5A5A;
	padding: 10px;
	font-style: italic;
	font-weight: lighter;
}

/* Formatting for D3 bar-charts */

.chart-container {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}	

.chart-heading {
	font-size: 22px;
	font-weight: bold;
}

.chart-subheading {
	font-size: 16px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

